<div class="row">
  <div class="blog-post-bg z-depth-1 col s12 m8 offset-m2 l6 offset-l3">
    <h2 class="center"> 
      <span class="blog-title"><%= @blog.title %></span>
    </h2>
    <p class="center"><%= @blog.created_at.strftime("%B %d, %Y") %></p>
    <%= @blog.body.html_safe %>
  </div>
</div>

<div class="row col s12 center">
  <%= link_to 'Back to Blog Posts', blogs_path, class: "btn waves-effect waves-light" %>
</div>