<section id="main-features" class="section main-feature-gray">
  <div class="container">

    <div class="row">   
      <div class="col-md-8 col-sm-8 wow fadeInLeft">
        <div class="feature-item">
          <h3 class="title-small center">
            About
          </h3>
          <p>
            I was born and raised in the Netherlands. I moved to Rome, Italy after High School to study International Affairs and Business Administration at at American University.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          </p>
        </div>
      </div>
      

    </div>

  </div>
</section>