<div id="index-banner" class="parallax-container">
  <div class="parallax"><%= image_tag("cherry.jpg", alt: "banner img") %></div>
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center black-text text-lighten-2">Sandra Louise</h1>
      <div class="row center">
        <h5 class="header col s12 black-text">- Jr. Ruby On Rails Developer -</h5>
      </div>
      <div class="row center">
        
        <a href="/portfolio" id="download-button" class="btn-large waves-effect waves-light pink darken-1">Portfolio</a>
      </div>
      <br><br>

    </div>
  </div>
</div>

