<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center text-lighten-2 home">Sandra Hallie</h1>
      <div class="row center">
        <h4 class="header col s12 white-text">- Full Stack Web Developer -</h4>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("pexels3.jpeg") %>
  </div>
  </div> 
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m8 offset-m2 s12 center">
        <h3 class="brown-text"> - About - </h3>

        <p>I am a Full Stack web developer, addicted to learning about new web technologies. I live and breathe code. 
        When I am not coding, I am either watching tutorial videos or listening to tech podcasts. </p> 
        <p>I was born and raised in the Netherlands and hold degrees in Business Administration and International 
        Affairs from an American university in Rome, Italy.
        </p> 
        <a href="/projects" class="btn-large waves-effect waves-light pink darken-1">Portfolio</a>
        </br>
      </div>
      
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div class="row">
          <div class="col s12 center">
            <a href="/contacts/new" id="download-button" class="btn-large waves-effect waves-light pink darken-1">Get in Touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="parallax">
      <%= image_tag("pexels3.jpeg") %>
    </div>
    
</div>
