<div class="row">
  <div class="col s12 m5">
    <div class="card-panel teal">
      <span class="white-text">
        <p id="notice"><%= notice %></p>
      </span>
    </div>
  </div>
</div>
           
<div class="center">
  <h1>Leave a Message</h1>
  
  <p>Feel free to get in touch for feedback on my projects or for interesting opportunities!</p>

  <%= render 'form' %>

  <p><%= link_to 'Back', root_path %></p>
</div>

