// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p.center {
  text-align: center !important;
}

.blog-topic {
  background-color: rgba(0, 150, 136, 0.7);
  padding: 3px 3px 3px 3px;
  font-size: 16px !important;

}

.buttons-inline {
   display: inline-block;
   margin-right: 5px;
}