.home {
  padding-top:120px;
}

hr {
  margin-bottom:20px;
  margin-top:20px;
  border: 1px solid #f06292;
}

.portfolio li{
   list-style-type: circle !important;
}

.no-ul-styling li{
  list-style-type: none !important;
}

.fa.fa-bars {
  color: white;
  margin-left: 10px;
}

i.fa.fa-linkedin.fa-2x{
  color: white !important;
  margin-top: 10px;
}

i.fa.fa-github.fa-2x{
  color: white !important;
}

#wrapper{
	border: 1px solid black;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto; 
	position: relative; 
	min-height: 99%;
}

.footer{
	height: 50px; 
	background: blue;
	position: absolute !important; 
	bottom: 3; 
	width: inherit;
	text-align: center;
}

.btn-large.waves-effect.waves-light.pink.darken-1{
    margin-bottom:50px;
}

h4 {
  color: #ec407a;
  text-align: center;
}