.home {
  padding-top:120px;
}

hr {
  margin-bottom:20px;
  margin-top:20px;
  border: 1px solid #f06292;
}

.portfolio li{
   list-style-type: circle !important;
}

.no-ul-styling li{
  list-style-type: none !important;
}

.fa.fa-bars {
  color: white;
  margin-left: 10px;
}

i.fa.fa-linkedin.fa-2x{
  color: white !important;
  margin-top: 10px;
}

i.fa.fa-github.fa-2x{
  color: white !important;
}