@media screen and (max-width: 480px) {
.header.center.white-text.text-lighten-2 { 
    font-size: 90px !important; 
  }
}


.header.center.white-text.text-lighten-2 {
  margin-top: 120px;
  font-size: 120px;
}

