<footer class="page-footer">
  <div class="footer-copyright center">
    <div class="container">
   Copyright © 2016 Sandra Louise
    <div class="grey-text text-lighten-4 right">
      <i class="fa fa-linkedin fa-lg"></i> | 
      <i class="fa fa-github fa-lg"></i>
    </div>
    </div>
  </div>
</footer>