<footer class="page-footer">
  <div class="footer-copyright center">
    <div class="container">
   Copyright © 2016 Made by Sandra Louise
    <div class="grey-text text-lighten-4 right">
    
              <p>Find me on</p>
              <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
    
    </div>
    </div>
  </div>
</footer>