<footer class="page-footer">
  <div class="footer-copyright center">
    <div class="container">
      Copyright © 2016 Sandra Hallie
      <div class="white-text text-lighten-4 right">
        <%= link_to 'https://linkedin.com/in/sanlouise' do %>
          <i class="fa fa-linkedin fa-2x"></i>
        <% end %>

       | 
        
        <%= link_to 'https://github.com/sanlouise' do %>
          <i class="fa fa-github fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
</footer>

